<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona Componentes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compra.css') }}">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="para_que.html">Guía paso a paso</a></li>
            <li><a href="componentes.html">Consigue tus componentes!!</a></li>

            <!-- Carrito -->
            <li style="margin-left:auto;">
                <a href="carrito.html">
                    🛒 <span id="contador-carrito">0</span>
                </a>
            </li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Selecciona tu gama</h1>
        <p>Elige una categoría para ver los componentes recomendados.</p>
    </section>

    <div class="selector">
        <select onchange="mostrarGama(this.value)">
            <option value="">Selecciona una opción</option>
            <option value="baja">Gama baja</option>
            <option value="media">Gama media</option>
            <option value="alta">Gama alta</option>
        </select>
    </div>

    <div id="baja" class="contenedor-cards">
        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente1.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>EVGA 500 W1 -Potencia: 400W</h3>
    </div>

    <p>$800 MXN</p>

    <button onclick="agregarAlCarrito('EVGA 500 W1', 800)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente2.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Corsair CV550 -Potencia: 450W</h3>
    </div>

    <p>$1,100 MXN</p>

    <button onclick="agregarAlCarrito('Corsair CV550', 1100)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente3.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Thermaltake Smart 500W</h3>
    </div>

    <p>$1,000 MXN</p>

    <button onclick="agregarAlCarrito('Thermaltake Smart 500W', 1000)">
        Agregar al carrito 🛒
    </button>
</div>

       <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente4.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Cooler Master MWE 450 Bronze V2</h3>
    </div>

    <p>$2,000 MXN</p>

    <button onclick="agregarAlCarrito('Cooler Master MWE 450 Bronze V2', 2000)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente5.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>XPG Pylon 550W</h3>
    </div>

    <p>$1,000 MXN</p>

    <button onclick="agregarAlCarrito('XPG Pylon 550W', 1000)">
        Agregar al carrito 🛒
    </button>
</div>
    </div>

    </div>

    <div id="media" class="contenedor-cards">
        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente6.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>MSI MAG A650BN 650W</h3>
    </div>

    <p>$1,100 MXN</p>

    <button onclick="agregarAlCarrito('MSI MAG A650BN 650W', 1100)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente7.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>XPG Pylon 750W</h3>
    </div>

    <p>$1,500 MXN</p>

    <button onclick="agregarAlCarrito('XPG Pylon 750W', 1500)">
        Agregar al carrito 🛒
    </button>
</div>
        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente8.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Gigabyte P650G 650W</h3>
    </div>

    <p>$1,500 MXN</p>

    <button onclick="agregarAlCarrito('Gigabyte P650G 650W', 1500)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente9.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>ASUS TUF Gaming 650B 650W</h3>
    </div>

    <p>$3,000 MXN</p>

    <button onclick="agregarAlCarrito('ASUS TUF Gaming 650B 650W', 3000)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente10.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Corsair RM750e 750W</h3>
    </div>

    <p>$1,500 MXN</p>

    <button onclick="agregarAlCarrito('Corsair RM750e 750W', 1500)">
        Agregar al carrito 🛒
    </button>
</div>
    </div>

    </div>

    <div id="alta" class="contenedor-cards">
        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente11.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>MSI MAG A850GL 850W</h3>
    </div>

    <p>$1,800 MXN</p>

    <button onclick="agregarAlCarrito('MSI MAG A850GL 850W', 1800)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente12.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Corsair RM850x SHIFT 850W</h3>
    </div>

    <p>$3,000 MXN</p>

    <button onclick="agregarAlCarrito('Corsair RM850x SHIFT 850W', 3000)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente13.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>ASUS ROG Strix 850G Aura Gaming 850W</h3>
    </div>

    <p>$3,500 MXN</p>

    <button onclick="agregarAlCarrito('ASUS ROG Strix 850G Aura Gaming 850W', 3500)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente14.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Corsair RM1000x Shift 1000W</h3>
    </div>

    <p>$3,500 MXN</p>

    <button onclick="agregarAlCarrito('Corsair RM1000x Shift 1000W', 3500)">
        Agregar al carrito 🛒
    </button>
</div>

        <div class="card">
    <img class="principal" src="{{ url_for('static', filename='css/images/fuente15.jpg') }}" alt="Fuente">

    <div class="titulo-card">
        <h3>Dark Power 13 (850W o 1000W)</h3>
    </div>

    <p>$5,500 MXN</p>

    <button onclick="agregarAlCarrito('Dark Power 13 850W o 1000W', 5500)">
        Agregar al carrito 🛒
    </button>
</div>
    </div>

    <script>
        function mostrarGama(gama) {
            document.getElementById("baja").style.display = "none";
            document.getElementById("media").style.display = "none";
            document.getElementById("alta").style.display = "none";

            if (gama !== "") {
                document.getElementById(gama).style.display = "grid";
            }
        }
    </script>

<script>
function agregarAlCarrito(nombre, precio) {
    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

    carrito.push({ nombre, precio });

    localStorage.setItem("carrito", JSON.stringify(carrito));

    actualizarContadorCarrito(); // 🔥 IMPORTANTE

    alert(nombre + " agregado al carrito 🛒");
}
</script>

<script>
function actualizarContadorCarrito() {
    let carrito = JSON.parse(localStorage.getItem("carrito")) || [];
    document.getElementById("contador-carrito").textContent = carrito.length;
}

// Ejecutar al cargar
actualizarContadorCarrito();
</script>

</body>
</html>