    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gama Alta | Componentes Recomendados</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/recomendaciones.css') }}">
    </head>

    <body>

        <!-- ===================== NAVBAR ===================== -->

        <nav>
            <ul>

                <li><a href="/">Inicio</a></li>
                <li><a href="para_que.html">Guía paso a paso</a></li>
                <li><a href="componentes.html">Consigue tus componentes!!</a></li>

                <li style="margin-left:auto;">
                    <a href="carrito.html">
                        🛒 <span id="contador-carrito">0</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- ===================== NAVBAR DE COMPONENTES ===================== -->

        <nav class="navbar-componentes">

          <a href="#procesadores">🖥 Procesadores</a>

          <a href="#ram">🧠 RAM</a>

          <a href="#ssd">💾 SSD</a>

          <a href="#motherboards">🧩 Motherboard</a>

          <a href="#fuentes">⚡ Fuente</a>

          <a href="#graficas">🎮 Gráfica</a>

          <a href="#configuracion">⭐ Configuración</a>

          <a href="#usos">✅ Usos</a>

        </nav>

        <!-- ===================== HERO ===================== -->

        <section class="hero">

            <div class="hero-text">

                <span class="etiqueta">Gama Alta</span>

                <h1>
                    Componentes recomendados para una PC para videojuegos de Gama Alta
                </h1>

                <p>
                    Encuentra una selección de componentes ideales para jugar los juegos mas pesados y con mayor requisitos, olvida el 1040p y full hd, ahora jugaras en 4k con graficos al ultra a 1440p o incluso mejor con optimizacion.=)
                </p>

            </div>

        </section>

        <!-- ===================== CONFIGURACIÓN ===================== -->

        <section class="configuracion">

            <h2>⭐ Configuración recomendada</h2>

            <div class="config-grid">

                <div class="config-item">
                    <h4>Procesador</h4>
                    <p>AMD Ryzen 9 9950X</p>
                </div>

                <div class="config-item">
                    <h4>Memoria RAM</h4>
                    <p>Corsair Dominator Titanium 64GB DDR5</p>
                </div>

                <div class="config-item">
                    <h4>SSD</h4>
                    <p>Samsung 990 Pro</p>
                </div>

                <div class="config-item">
                    <h4>Motherboard</h4>
                    <p>Asus ROG Crosshair x870e Hero</p>
                </div>

                <div class="config-item">
                    <h4>Fuente</h4>
                    <p>Corsair RM1000x</p>
                </div>

                <div class="config-item">
                    <h4>Gráficos</h4>
                    <p>NVIDIA Geforce RTX 5090</p>
                </div>

            </div>

        </section>

        <!-- ===================== PROCESADORES ===================== -->

        <section id="procesadores" class="categoria">

            <div class="titulo-seccion">

                <h2>🖥 Procesadores</h2>

                <p>
                    El cerebro de la computadora. Determina el rendimiento general del equipo.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ryzen-9.jpg') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            ⭐ Recomendado
                        </span>

                        <h3>AMD Ryzen 9 9950X</h3>

                        <div class="specs">

                            <span>16 núcleos y 32 hilos</span>
                            <span>5.7 GHz</span>
                            <span>16 MB de caché L2 y 64 MB de caché L3.</span>

                        </div>

                        <p>

                            Altisimo rendimiento por nucleo<br>
                            Compatible con toda la tecnologia moderna<br>
                            Grandisima capacidad multitarea<br>

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ryzen-9.jpg') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            🔥 Calidad / Precio
                        </span>

                        <h3>AMD Ryzen 9 9900X</h3>

                        <div class="specs">

                            <span>12 núcleos y 24 hilos</span>
                            <span>4.4 GHz</span>
                            <span>Zen5</span>

                        </div>

                        <p>

                            Increible equilibrio de velocidad y eficiencia<br>
                            Compatible con toda la tecnologia actual<br>
                            Gran rendimiento general y en especial en videojuegos<br>

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/i7.jpg') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            💰 Económico
                        </span>

                        <h3>Intel core I7-14700K</h3>

                        <div class="specs">

                            <span>20 núcleos (8 de rendimiento + 12 de eficiencia) y 28 hilos</span>
                            <span>Hasta 5.6 GHz</span>
                            <span>DDR4-3200 y DDR5-5600.</span>

                        </div>

                        <p>

                            Excelente en multitarea<br>
                            Amplia compatibilidad<br>
                            Económico<br>

                        </p>


                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== MEMORIAS RAM ===================== -->

        <section id="ram" class="categoria">

            <div class="titulo-seccion">

                <h2>🧠 Memorias RAM</h2>

                <p>
                    La memoria RAM permite ejecutar varias aplicaciones al mismo tiempo
                    de forma fluida.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ram11.png') }}" alt="Corsair">

                    <div class="card-body">

                        <span class="badge">
                            ⭐ Más recomendada
                        </span>

                        <h3>Corsair Dominator Titanium 64GB DDR5</h3>

                        <div class="specs">

                            <span>64 GB</span>
                            <span>6000 MT/s hasta 7200 MT/s</span>
                            <span>DDR5</span>

                        </div>

                        <p>

                        Gran capacidad<br>
                        Excelente rendimiento<br>
                        Preparada para overcloking<br>

                        </p>


                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ram12.webp') }}" alt="SKILL">

                    <div class="card-body">

                        <span class="badge">
                            🔥 Calidad / Precio
                        </span>

                        <h3>XG.Skill Trident DDR5 32GB</h3>

                        <div class="specs">

                            <span>32 GB</span>
                            <span>6000 MT/s (6000 MHz)</span>
                            <span>DDR5</span>

                        </div>

                        <p>

                            Muy buena con Ryzen por su optimizacion<br>
                            Suficiente para multitarea<br>
                            Alta estabilidad y compatibilidad<br>

                        </p>


                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/vengance.jpg') }}" alt="Kingstob">

                    <div class="card-body">

                        <span class="badge">

                             Economico

                        </span>

                        <h3>Kingston FURY Renegade RGB DDR5 32GB</h3>

                        <div class="specs">

                            <span>32 GB</span>
                            <span>DDR5 UDIMM</span>
                            <span>6000 MT/s hasta 8000 MT/s</span>

                        </div>

                        <p>

                            Altisimo rendimiento<br>
                            Muy facil de overclokear para mejor rendimiento<br>
                            Diseño moderno con disipador de aluminio<br>

                        </p>

                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== SSD ===================== -->

        <section id="ssd" class="categoria">

            <div class="titulo-seccion">

                <h2>💾 Unidades SSD</h2>

                <p>
                    Un SSD mejora considerablemente la velocidad de inicio del sistema
                    y la carga de tus videojuegos.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ssd10.webp') }}" alt="Samsung">

                    <div class="card-body">

                        <span class="badge">

                            ⭐ Recomendado

                        </span>

                        <h3>Samsung 990 Pro</h3>

                        <div class="specs">

                            <span>2 TB</span>
                            <span>NVMe</span>
                            <span>PCIe 4.0 x4, NVMe 2.0</span>

                        </div>

                        <p>

                            Tiempo de carga minimo<br>
                            Excelente consumo de energia<br>
                            Gran dursabilidad<br>
                            Muy economica para su poder

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ssd11.webp') }}" alt="WD Black">

                    <div class="card-body">

                        <span class="badge">

                            🔥 Alta velocidad

                        </span>

                        <h3>WD Black SN850X</h3>

                        <div class="specs">

                            <span>2 TB</span>
                            <span>M.2 2280</span>
                            <span>PCIe 4.0 x4, NVMe 1.4</span>

                        </div>

                        <p>

                            Rendimineot perfecto en gaming<br>
                            Alta velocidad de transferencia<br>
                            Muy buen control termico

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ssd5.webp') }}" alt="Crucial">

                    <div class="card-body">

                        <span class="badge">

                            Economico

                        </span>

                        <h3>Crucial T500</h3>

                        <div class="specs">

                            <span>1 TB</span>
                            <span>PCIe 4.0 x4, NVMe 2.0</span>
                            <span>500 GB, 1 TB, 2 TB y 4 TB</span>

                        </div>

                        <p>

                            De los mas rapidos en el mercado<br>
                            Consumo energetico suficiente<br>
                            Muy popular

                        </p>

                    </div>

                </div>

            </div>

        </section>

            <!-- ===================== TARJETAS MADRE ===================== -->

        <section id="motherboards" class="categoria">

            <div class="titulo-seccion">

                <h2>🧩 Tarjetas Madre</h2>

                <p>
                    La motherboard conecta todos los componentes del equipo y permite futuras actualizaciones aunque ya con esto tendras una pc de la NASA.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/rog.webp') }}" alt="rog">

                    <div class="card-body">

                        <span class="badge">⭐ Recomendada</span>

                        <h3>Asus ROG Crosshair x870e Hero</h3>

                        <div class="specs">

                            <span>Socket AM5</span>
                            <span>AMD X870E</span>
                            <span>AMD Ryzen Serie 7000, 8000 y 9000</span>

                        </div>

                        <p>

                            Ideal para Ryzen y sus generaciones mencionadas<br>
                            Preparadisima para el futuro y las nuevas tecnologias

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/madre11.jpg') }}" alt="MSI">

                    <div class="card-body">

                        <span class="badge">🔥 Calidad / Precio</span>

                        <h3>MSI MAG X870 Tomahawk WIFI</h3>

                        <div class="specs">

                            <span>AM5</span>
                            <span>AMD X870</span>
                            <span>4 ranuras DDR5 con soporte para hasta 256 GB</span>

                        </div>

                        <p>

                            Preparada con tecnologias actuales<br>
                            Alimentacion robusta<br>
                            Excelente para upgrades

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/x870.jpg') }}" alt="x870">

                    <div class="card-body">

                        <span class="badge"> Economico </span>

                        <h3>Gigabyte X870 Eagle WIFI7</h3>

                        <div class="specs">

                            <span>AM5</span>
                            <span>AMD X870</span>
                            <span>4 ranuras DDR5 con soporte para hasta 256 GB</span>

                        </div>

                        <p>

                            Diseño fácil de ensamblar<br>
                            Compatible con Ryzen antes mencionados<br>
                            Muy durable con el paso del tiempo

                        </p>

                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== FUENTES ===================== -->

    <section id="fuentes" class="categoria">

            <div class="titulo-seccion">

                <h2>⚡ Fuentes de Poder</h2>

                <p>
                    Una buena fuente garantiza estabilidad y protege los demás componentes del equipo.
                </p>

            </div>

            <div class="grid-componentes">

                                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/fuente14.jpg') }}" alt="Corsair">

                    <div class="card-body">

                        <span class="badge">⭐ Recomendada</span>

                        <h3>Corsair RM1000x</h3>

                        <div class="specs">

                            <span>1000W</span>

                            <span>Fuente de poder (PSU) ATX</span>

                            <span>80 Plus Gold</span>

                        </div>

                        <p>

                            Muy silenciosa<br>
                            Potencia para equipos de alto rendimiento<br>
                            Alta confiabilidad, mas con su certificacion

                        </p>

                    </div>

                </div>

                                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/msi.jpg') }}" alt="msi">

                    <div class="card-body">

                        <span class="badge">🔥 Mejor calidad</span>

                        <h3>MSI MPG A1000G</h3>

                        <div class="specs">

                            <span>1000W</span>

                            <span>80 Plus Gold</span>

                            <span>Fuente de poder (PSU) ATX</span>

                        </div>

                        <p>

                            Cableado modular<br>
                            Excelente para equipo de alto rendimiento<br>
                            Protección contra sobrecargas

                        </p>

                    </div>

                </div>


                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/deep.webp') }}" alt="DeepCool">

                    <div class="card-body">

                        <span class="badge">💰 Económica</span>

                        <h3>DeepCool PX1000G</h3>

                        <div class="specs">

                            <span>1000W</span>

                            <span>80 Plus Gold</span>

                            <span>Cybenetics Platinum</span>

                        </div>

                        <p>

                            Excelente relación entre potencia y eficiencia<br>
                            Ideal para PCs con harware moderno

                        </p>

                    </div>

                </div>
     </section>

        <!-- ===================== TARJETA GRÁFICA ===================== -->

    <section id="graficas" class="categoria">

                   <div class="titulo-seccion">

            <h2>🎮 Tarjetas Graficas</h2>

            <p>
                Para cualquier videojuego incluso de gama baja lo mejor es una tarjeta grafica para que todo vaya de 10.
            </p>

        </div>

        <div class="grid-componentes">

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/5090.webp') }}" alt="Tarjeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        ⭐ Recomendado
                    </span>

                    <h3>NVIDIA Geforce RTX 5090</h3>

                    <div class="specs">

                        <span>32 GB GDDR7</span>
                        <span>NVIDIA Blackwel</span>
                        <span>PCI Express 5.0 x16</span>

                    </div>

                    <p>

                        La tarjeta gráfica más potente de NVIDIA para consumidores<br>
                        Rendimiento extremo en 4K y 8K<br>
                        Gran capacidad para inteligencia artificial<br>

                    </p>

                </div>

            </div>

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/5080.avif') }}" alt="Tarjeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        🔥 Calidad / Precio
                    </span>

                    <h3>NVIDIA Geforce RTX 5080</h3>

                    <div class="specs">

                        <span>NVIDIA Blackwell</span>
                        <span>PCI Express 5.0 x16</span>
                        <span>16 GB GDDR7</span>

                    </div>

                    <p>

                        Excelente rendimiento en 4K<br>
                        Ideal para creación de contenido<br>
                        Tecnologías de última generación<br>

                    </p>

                </div>

            </div>

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/ra.webp') }}" alt="Trajeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        💰 Económico
                    </span>

                    <h3>AMD Radeon RX 9070 XT</h3>

                    <div class="specs">

                        <span>AMD RDNA 4</span>
                        <span>PCI Express 5.0 x16</span>
                        <span>16 GB GDDR6</span>

                    </div>

                    <p>

                        Excelente rendimiento en 1440p y 4K<br>
                        Arquitectura RDNA 4<br>
                        Tecnologías de escalado avanzadas<br>

                    </p>


                </div>

            </div>

        </div>

    </section>

        <!-- ===================== CONFIGURACIÓN FINAL ===================== -->

        <section id="configuracion" class="configuracion-final">

            <div class="titulo-seccion">

                <h2>🖥 Configuración Recomendada</h2>

                <p>
                    Esta es una configuración equilibrada para una computadora de Gama Alta.
                    Puedes modificar cualquier componente según tu presupuesto.
                </p>

            </div>

            <div class="tabla-container">

                <table>

                    <thead>

                        <tr>

                            <th>Componente</th>
                            <th>Recomendación</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Procesador</td>
                            <td>AMD Ryzen 9 9950X</td>

                        </tr>

                        <tr>

                            <td>Memoria RAM</td>
                            <td>Corsair Dominator Titanium 64GB DDR5</td>

                        </tr>

                        <tr>

                            <td>SSD</td>
                            <td>Samsung 990 Pro</td>

                        </tr>

                        <tr>

                            <td>Tarjeta Madre</td>
                            <td>Asus ROG Crosshair x870e Hero</td>

                        </tr>

                        <tr>

                            <td>Fuente</td>
                            <td>Corsair RM1000x</td>

                        </tr>

                        <tr>

                            <td>Tarjeta Gráfica</td>
                            <td>NVIDIA Geforce RTX 5090</td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </section>

        <!-- ===================== USOS ===================== -->

        <section id="usos" class="usos">

            <div class="titulo-seccion">

                <h2>✅ Esta computadora es ideal para:</h2>

            </div>

            <div class="grid-usos">

                <div class="uso-card">
                    📄
                    <h3>Multitarea muy excelenete</h3>
                </div>

                <div class="uso-card">
                    🌐
                    <h3>Navegar por Internet</h3>
                </div>

                <div class="uso-card">
                    🎬
                    <h3>YouTube y Streaming</h3>
                </div>

                <div class="uso-card">
                    💬
                    <h3>Discord</h3>
                </div>

                <div class="uso-card">
                    🎮
                    <h3>Juegos AAA y todos en general</h3>
                </div>

                <div class="uso-card">
                    📚
                    <h3>Ultimas teconologias</h3>
                </div>

            </div>

        </section>

        <!-- ===================== FOOTER ===================== -->

        <footer>

            <div class="footer-contenido">

                <h3>Proyecto Armado de PC</h3>

                <p>
                    Encuentra la mejor configuración para tus necesidades y aprende
                    a elegir correctamente cada componente.
                </p>

                <p class="copyright">

                    © 2026 - Todos los derechos reservados.

                </p>

            </div>

        </footer>

        <!-- ===================== SCRIPT CARRITO ===================== -->

        <script>

            function actualizarContadorCarrito() {

                let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

                document.getElementById("contador-carrito").textContent = carrito.length;

            }

            actualizarContadorCarrito();

        </script>

    </body>

    </html>    