    <!DOCTYPE html>
    <html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gama Media | Componentes Recomendados</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/recomendaciones.css') }}">
    </head>

    <body>

        <!-- ===================== NAVBAR ===================== -->

        <nav>
            <ul>

                <li><a href="/">Inicio</a></li>
                <li><a href="para_que.html">Guía paso a paso</a></li>
                <li><a href="componentes.html">Consigue tus componentes!!</a></li>

                <li style="margin-left:auto;">
                    <a href="carrito.html">
                        🛒 <span id="contador-carrito">0</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- ===================== NAVBAR DE COMPONENTES ===================== -->

        <nav class="navbar-componentes">

          <a href="#procesadores">🖥 Procesadores</a>

          <a href="#ram">🧠 RAM</a>

          <a href="#ssd">💾 SSD</a>

          <a href="#motherboards">🧩 Motherboard</a>

          <a href="#fuentes">⚡ Fuente</a>

          <a href="#graficas">🎮 Gráfica</a>

          <a href="#configuracion">⭐ Configuración</a>

          <a href="#usos">✅ Usos</a>

        </nav>

        <!-- ===================== HERO ===================== -->

        <section class="hero">

            <div class="hero-text">

                <span class="etiqueta">Gama Media</span>

                <h1>
                    Componentes recomendados para una PC para videojuegos de gama Media
                </h1>

                <p>
                    Encuentra una selección de componentes ideales para juegos de gama media aquellos que no 
                    requieren mucha potencia
                     y la mayoria estan optimizados para ir a 60 fps fluidos a 1080p como GTAV,The witcher 3,Metal Gear Solid,etc...
                </p>

            </div>

        </section>

        <!-- ===================== CONFIGURACIÓN ===================== -->

        <section class="configuracion">

            <h2>⭐ Configuración recomendada</h2>

            <div class="config-grid">

                <div class="config-item">
                    <h4>Procesador</h4>
                    <p>AMD Ryzen 7 9700X</p>
                </div>

                <div class="config-item">
                    <h4>Memoria RAM</h4>
                    <p>Corsair Vengeance DDR5 32GB (2x16GB)</p>
                </div>

                <div class="config-item">
                    <h4>SSD</h4>
                    <p>Lexar NM790</p>
                </div>

                <div class="config-item">
                    <h4>Motherboard</h4>
                    <p>MSI MAG B650 Tom ahawk WIFI</p>
                </div>

                <div class="config-item">
                    <h4>Fuente</h4>
                    <p>Corsair RM750e 750W</p>
                </div>

                <div class="config-item">
                    <h4>Gráficos</h4>
                    <p>NVIDIA Geforce RTX 5070</p>
                </div>

            </div>

        </section>

        <!-- ===================== PROCESADORES ===================== -->

        <section id="procesadores" class="categoria">

            <div class="titulo-seccion">

                <h2>🖥 Procesadores</h2>

                <p>
                    El cerebro de la computadora. Determina el rendimiento general del equipo.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ryzen-77.webp') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            ⭐ Recomendado
                        </span>

                        <h3>AMD Ryzen 7 9700X</h3>

                        <div class="specs">

                            <span>8 Núcleos</span>
                            <span>40 MB (8 MB L2 + 32 MB L3).</span>
                            <span>6 Hilos</span>

                        </div>

                        <p>

                            Arquitectura Zen 5<br>
                            Compatible con AM5<br>
                            Alta fluidez<br>

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/9600.jpg') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            🔥 Calidad / Precio
                        </span>

                        <h3>AMD Ryzen 9600X</h3>

                        <div class="specs">

                            <span>6 Núcleos</span>
                            <span>12 Hilos</span>
                            <span>65W</span>

                        </div>

                        <p>

                            Estructura Zen 5<br>
                            Compatible con AM5<br>
                            Velocidad destacable<br>

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/i5.jpg') }}" alt="Procesador">

                    <div class="card-body">

                        <span class="badge">
                            💰 Económico
                        </span>

                        <h3>Intel Core i5-14400F</h3>

                        <div class="specs">

                            <span>10 Núcleos</span>
                            <span>DDR4 y DDR5</span>
                            <span>65W</span>

                        </div>

                        <p>

                            Compatible con los tipos de memorias<br>
                            Muy bueno en multitarea<br>
                            Económico<br>

                        </p>


                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== MEMORIAS RAM ===================== -->

        <section id="ram" class="categoria">

            <div class="titulo-seccion">

                <h2>🧠 Memorias RAM</h2>

                <p>
                    La memoria RAM permite ejecutar los programas y aplicaciones que quieras siendo algo que todo gamer necesita para escuchar musica mientras juegas incluso =).
                </p>

            </div>

            <div class="grid-componentes">

                                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ram7.jpg') }}" alt="XPG">

                    <div class="card-body">

                        <span class="badge">
                            ⭐ Más recomendada
                        </span>

                        <h3>Corsair Vengeance DDR5 32GB (2x16GB)</h3>

                        <div class="specs">

                            <span>2 modulos de 16 GB</span>
                            <span>Desde 5200 MHz hasta 6400 MHz</span>
                            <span>DDR5</span>

                        </div>

                        <p>

                            Capacidad muy destacable
                            Dual Channel
                            Disipador de aluminio

                        </p>


                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/kingston.jpg') }}" alt="Kingston Fury">

                    <div class="card-body">

                        <span class="badge">
                            🔥 Calidad / Precio
                        </span>

                        <h3>Kingston Fury Beast</h3>

                        <div class="specs">

                            <span>16 GB</span>
                            <span>DDR5 UDIMM</span>
                            <span>DDR4</span>

                        </div>

                        <p>

                        Muy compatible con Ryzen e Intel<br>
                        Excelente para varios programas simultaneos<br>

                        </p>


                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/cruci.webp') }}" alt="Kingston">

                    <div class="card-body">

                        <span class="badge">

                            Economico

                        </span>

                        <h3>Crucial 16GB DDR5</h3>

                        <div class="specs">

                            <span>16 GB</span>
                            <span>DDR5 UDIMM</span>
                            <span>4800 MT/s, 5600 MT/s y 6000 MT/s</span>

                        </div>

                        <p>

                            Excelente estabilidad<br>
                            Mayor ancho de banda<br>
                            Bajo consumo energetico
                        </p>

                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== SSD ===================== -->

        <section id="ssd" class="categoria">

            <div class="titulo-seccion">

                <h2>💾 Unidades SSD</h2>

                <p>
                    Un SSD mejora considerablemente la velocidad de inicio del sistema
                    y la carga de tus videojuegos.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ssd6.webp') }}" alt="Lexar">

                    <div class="card-body">

                        <span class="badge">

                            ⭐ Recomendado

                        </span>

                        <h3>Lexar NM790</h3>

                        <div class="specs">

                            <span>1 TB</span>
                            <span>SSD M.2 NVMe.</span>
                            <span>PCIe 4.0</span>

                        </div>

                        <p>

                            Velocidades de lectura excelentes
                            Buena interfaz
                            Muy recomendada

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/blue.jpg') }}" alt="WD Blue">

                    <div class="card-body">

                        <span class="badge">

                            🔥 Calidad/Precio

                        </span>

                        <h3>WD Blue SN580</h3>

                        <div class="specs">

                            <span>1 TB</span>
                            <span>NVMe</span>
                            <span>PCIe 4.0</span>

                        </div>

                        <p>

                            Excelente velocidad
                            Muy durable
                            Calidad premium

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/ssd3.jpg') }}" alt="Nv3">

                    <div class="card-body">

                        <span class="badge">

                            Economico

                        </span>

                        <h3>Kingston Nv3</h3>

                        <div class="specs">

                            <span>1TB</span>
                            <span>NVMe</span>
                            <span>Economica</span>

                        </div>

                        <p>

                            Excelente relación calidad-precio<br>
                            Bajo consumo de energía<br>
                            Fácil instalación

                        </p>

                    </div>

                </div>

            </div>

        </section>

            <!-- ===================== TARJETAS MADRE ===================== -->

        <section id="motherboards" class="categoria"></section>

            <div class="titulo-seccion">

                <h2>🧩 Tarjetas Madre</h2>

                <p>
                    La motherboard conecta todos los componentes del equipo y permite futuras actualizaciones en caso de que sean necesarias.
                </p>

            </div>

            <div class="grid-componentes">

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/madre12.webp') }}" alt="MSI">

                    <div class="card-body">

                        <span class="badge">⭐ Recomendada</span>

                        <h3>MSI MAG B650 Tom ahawk WIFI</h3>

                        <div class="specs">

                            <span>AMD B650</span>
                            <span>Socket: AM5</span>
                            <span>ATX</span>

                        </div>

                        <p>

                            Ideal para Ryzen serie 7000,8000 y 9000
                            Super recomendada

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/madre10.jpg') }}" alt="GIGABYTE">

                    <div class="card-body">

                        <span class="badge">🔥 Calidad / Precio</span>

                        <h3>Gigabyte B650 Gaming X AX</h3>

                        <div class="specs">

                            <span>AMD B650</span>
                            <span>AM5</span>
                            <span>DDR5</span>

                        </div>

                        <p>

                            Muy buena relacion con componentes de gaming
                            Mejor soporte futuro
                            Muy buena relacion con DDR5
                            Incorpora wifi y ethernet

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/madre9.jpg') }}" alt="Asrock">

                    <div class="card-body">

                        <span class="badge"> Economico</span>

                        <h3>ASRock B760M Pro RS</h3>

                        <div class="specs">

                            <span>Intel B760.</span>
                            <span>DDR5</span>
                            <span>Micro-ATX (mATX).</span>

                        </div>

                        <p>

                            Buena calidad
                            Compatible con Intel de 12ava generacion hasta 14ava
                            Muy buena en instalalcion de ssd

                        </p>

                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== FUENTES ===================== -->

        <section id="fuentes" class="categoria"></section>

            <div class="titulo-seccion">

                <h2>⚡ Fuentes de Poder</h2>

                <p>
                    Una buena fuente garantiza estabilidad y protege los demás componentes del equipo mientras juegas.
                </p>

            </div>

            <div class="grid-componentes">


                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/fuente10.jpg') }}" alt="Corsair">

                    <div class="card-body">

                        <span class="badge">⭐ Recomendada</span>

                        <h3>Corsair RM750e 750W</h3>

                        <div class="specs">

                            <span>750W</span>

                            <span>80 Plus Gold</span>

                            <span>Toltalmente Modular</span>

                        </div>

                        <p>

                            Cableado muy facil e intuitivo
                            Buena certificacion
                            Muy silenciosa

                        </p>

                    </div>

                </div>                

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/evga2.webp') }}" alt="EVGA">

                    <div class="card-body">

                        <span class="badge">💰 Económica</span>

                        <h3>EVGA 500 BR 500W</h3>

                        <div class="specs">

                            <span>500W</span>

                            <span>80 Plus Bronze</span>

                            <span>Silenciosa</span>

                        </div>

                        <p>

                            Certificación 80 Plus Bronze
                            Contiene multiples sistemas de proteccion

                        </p>

                    </div>

                </div>

                <!-- CARD -->

                <div class="card">

                    <img src="{{ url_for('static', filename='css/images/fuente8.jpg') }}" alt="GIGABYTE">

                    <div class="card-body">

                        <span class="badge">🔥 Mejor calidad</span>

                        <h3>Gigabyte P650G 650W</h3>

                        <div class="specs">

                            <span>650W</span>

                            <span>80 Plus Gold</span>

                            <span>ATX 12V v2.31</span>

                        </div>

                        <p>

                            80 Plus Gold
                            ventilador de 120 mm
                            Protección contra sobrecargas
                            Condensadores Japoneses

                        </p>

                    </div>

                </div>

            </div>

        </section>

        <!-- ===================== TARJETA GRÁFICA ===================== -->

        <section id="graficas" class="categoria">

                   <div class="titulo-seccion">

            <h2>🎮 Tarjetas Graficas</h2>

            <p>
                Para cualquier videojuego incluso de gama media es necesaria una buena tarjeta grafica para que todo vaya fluido a 1080p.
            </p>

        </div>

        <div class="grid-componentes">

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/rtx1.jpg') }}" alt="Tarjeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        ⭐ Recomendado
                    </span>

                    <h3>NVIDIA Geforce RTX 5070</h3>

                    <div class="specs">

                        <span>12 GB GDDR7</span>
                        <span>NVIDIA Blackwell</span>
                        <span>Hasta 2.51 GHz</span>

                    </div>

                    <p>

                        Increible grafica siendo muy buena hasta en 1440p<br>
                        Excelente para RayTracing<br>
                        DLSS 4<br>

                    </p>

                </div>

            </div>

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/raedon.webp') }}" alt="Tarjeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        🔥 Calidad / Precio
                    </span>

                    <h3>AMD Raedon RX 9060 XT</h3>

                    <div class="specs">

                        <span>AMD RDNA 4</span>
                        <span>8 GB y 16 GB GDDR6</span>
                        <span>Hasta 320 GB/s de ancho de banda</span>

                    </div>

                    <p>

                        Excelente rendimiento para juegos en 1080p Ultra y 1440p<br>
                        RDNA4 Muy util para el RayTracing<br>
                        Es compatible con AMD FSR 4<br>

                    </p>

                </div>

            </div>

            <!-- CARD -->

            <div class="card">

                <img src="{{ url_for('static', filename='css/images/3050.webp') }}" alt="Trajeta_grafica">

                <div class="card-body">

                    <span class="badge">
                        💰 Económico
                    </span>

                    <h3>NVIDIA Geforce RTX 3050</h3>

                    <div class="specs">

                        <span>8 GB GDDR6</span>
                        <span>NVIDIA Ampere</span>
                        <span>128 bits</span>

                    </div>

                    <p>

                        Excelente para full hd con graficos altos<br>
                        Bajo consumo energetico<br>
                        Compatible con DLSS<br>

                    </p>


                </div>

            </div>

        </div>

    </section>

        <!-- ===================== CONFIGURACIÓN FINAL ===================== -->

        <section id="configuracion" class="configuracion-final">

            <div class="titulo-seccion">

                <h2>🖥 Configuración Recomendada</h2>

                <p>
                    Esta es una configuración equilibrada para una computadora para videojuegos de gama media.
                    Puedes modificar cualquier componente según tu presupuesto.
                </p>

            </div>

            <div class="tabla-container">

                <table>

                    <thead>

                        <tr>

                            <th>Componente</th>
                            <th>Recomendación</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>

                            <td>Procesador</td>
                            <td>AMD Ryzen 7 9700X</td>

                        </tr>

                        <tr>

                            <td>Memoria RAM</td>
                            <td>Corsair Vengeance DDR5 32GB (2x16GB)</td>

                        </tr>

                        <tr>

                            <td>SSD</td>
                            <td>Lexar NM790</td>

                        </tr>

                        <tr>

                            <td>Tarjeta Madre</td>
                            <td>MSI MAG B650 Tom ahawk WIFI</td>

                        </tr>

                        <tr>

                            <td>Fuente</td>
                            <td>Corsair RM750e 750W</td>

                        </tr>

                        <tr>

                            <td>Tarjeta Gráfica</td>
                            <td>NVIDIA Geforce RTX 5070</td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </section>

        <!-- ===================== USOS ===================== -->

        <section id="usos" class="usos">

            <div class="titulo-seccion">

                <h2>✅ Esta computadora es ideal para:</h2>

            </div>

            <div class="grid-usos">

                <div class="uso-card">
                    📄
                    <h3>Varios programas abiertos al mismo tiempo</h3>
                </div>

                <div class="uso-card">
                    🌐
                    <h3>Navegar por Internet</h3>
                </div>

                <div class="uso-card">
                    🎬
                    <h3>YouTube y Streaming</h3>
                </div>

                <div class="uso-card">
                    💬
                    <h3>Discord</h3>
                </div>

                <div class="uso-card">
                    🎮
                    <h3>Juegos De Gama Media Descritos</h3>
                </div>

            </div>

        </section>

        <!-- ===================== FOOTER ===================== -->

        <footer>

            <div class="footer-contenido">

                <h3>Proyecto Armado de PC</h3>

                <p>
                    Encuentra la mejor configuración para tus necesidades y aprende
                    a elegir correctamente cada componente.
                </p>

                <p class="copyright">

                    © 2026 - Todos los derechos reservados.

                </p>

            </div>

        </footer>

        <!-- ===================== SCRIPT CARRITO ===================== -->

        <script>

            function actualizarContadorCarrito() {

                let carrito = JSON.parse(localStorage.getItem("carrito")) || [];

                document.getElementById("contador-carrito").textContent = carrito.length;

            }

            actualizarContadorCarrito();

        </script>

    </body>

    </html>    